.set{
   background: url('../../assets/navbar/dostavka1.png') no-repeat center;

}
.pizza {
   background: url('../../assets/navbar/dostavka2.png') no-repeat center;

}
.set, .pizza {
   background-position: cover;
   width: 300px;height: 343px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: end;
   cursor: pointer;
   overflow: hidden;
   transition: 0.5s;
}
.set:hover, .pizza:hover{
   transform: scale(1.1);
}

.set h5, .pizza h5 {
   color: #FFF;

   /* Desktop/H4 */
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 28px;
   /* 140% */
}